<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TagListLayoutDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69A655671D1787EA0016C8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A655801D1787EB0016C8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A6558B1D1787EB0016C8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
